h1 {
  color: blue;
  font-size: 100px;
  font-family: sans-serif;
  background-color: black;
}

a:hover {
  color: red;
}

header,
.welcome {
  text-align: center;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,64,1) 18%, rgba(0,166,200,1) 100%);
}

* {
  color: white;
  font-family: sans-serif;
}

footer {
  font-size: 10px;
}

img,
video {
  max-height: 500px;
}

nav {
  background-color: gray;
  overflow: hidden;

}

nav a {
  float: left;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
}

nav .active {
  background-color: green;
}

.pron {
  align-content: center;
}

.in-page-nav {

}

.exp-img {
  align-items: center;
  max-height: 700px;
  text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

table, th, td {
  border: 1px solid white;
  text-align: center;
  font-size: 50px;
  width: 60%;
}
